.font-type-icon-container {
  height: 35.1px;
  width: 45px;
  position: relative;
  z-index: 2;
}
.shippori-mincho {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.vector-icon {
  width: 12px;
  height: 12px;
  position: relative;
}
.font-variant-icons {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.font-names,
.font-names-wrapper,
.font-variant-icons {
  display: flex;
  align-items: flex-start;
}
.font-names {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.font-names-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-1);
}
.font-type-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.humanity-charity1 {
  font-family: var(--font-lato);
}
.uses-free-licensed {
  font-family: var(--font-roboto);
}
.humanity-charity-website-tem {
  color: var(--color-slategray);
}
.google-fonts1 {
  text-decoration: underline;
  font-weight: 600;
}
.google-fonts {
  color: inherit;
}
.humanity-charity-container {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-roboto);
}
.font-type-icons-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-4xs) 0;
  box-sizing: border-box;
  gap: var(--gap-lgi-9);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .shippori-mincho {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
}
